* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

body {
    background-color: rgb(235, 232, 232);
}

.history-box {
    display: block;
    background-color: rgb(253, 250, 250);
    height: max-content;
    width: 100%;
    border: 1px solid black;
}

.video-box {
    display: grid;
    position: relative;
    background-color: rgba(203, 246, 253, 0.3);
    grid-template-columns: max-content auto;
    grid-gap: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 4px;
}

#option {
    content: "";
    position: absolute;
    right: 5px;
    top: 5px;
    background-image: url("icons/show-more-button-with-three-dots.svg");
    background-size: 15px 15px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

#option:hover {
    background-color: lightpink;
}

#reload {
    content: "";
    position: absolute;
    right: 40px;
    top: 5px;
    background-image: url("icons/reload\ \(1\).svg");
    background-size: 15px 15px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

#reload:hover {
    background-color: lightpink;
}

.timeVideoDuration {
    position: absolute;
    bottom: 10px;
    left: 5px;
    background-color: rgba(19, 20, 20, 0.8);
    color: white;
    font-size: 13px;
    padding: 3px
}

.live {
    position: absolute;
    bottom: 10px;
    left: 5px;
    color: white;
    background-color: red;
    font-size: 13px;
    padding-left: 3px;
    padding-right: 3px;
}

.thumbnail-wrapper {
    height: 136.4px;
    position: relative;
    background-color: rgb(56, 55, 55);
    box-shadow: 0px 0px 6px 3px rgb(240, 163, 163);
}

.thumbnail-wrapper:hover {
    box-shadow: 0px 0px 6px 3px rgb(240, 109, 109);
}

#platform-logo {
    content: '';
    position: absolute;
    right: 8px;
    top: 5px;
    height: 30px;
    width: 30px;
    background-image: url("icons/youtube.svg");
    background-color: rgba(229, 232, 233, 0.3);
    padding: 3px;
    border: 1px solid red;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
}

.thumbnail-wrapper:hover #platform-logo {
    animation: animate-platform-logo 1s linear infinite;
}

@keyframes animate-platform-logo {
    33% {
        transform: rotate(-40deg);
    }
    66% {
        transform: rotate(40deg);
    }
}

#progress-bar {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 60%;
    height: 6px;
    background-color: red;
}

.thumbnail {
    height: 130.2px;
    width: 240px;
}

.video-info-wrapper {
    display: grid;
    grid-template-rows: auto auto auto;
}

#video-link {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 15px;
    color: black;
}

.smallText {
    font-family: Ubuntu;
    font-weight: normal;
    color: gray;
    font-size: 13px;
}

.smallText:hover {
    color: black;
}

#channel-category,
#uploaded {
    display: inline list-item;
    list-style: disc;
}

.stats-wrapper {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content max-content;
    grid-gap: 15px;
    flex-direction: row;
}

.views-section,
.likes-section,
.dislikes-section,
.comments-section,
.duration-section {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 8px;
    padding: 5px;
    border: 1px solid hotpink;
    background-color: rgba(252, 231, 234, 0.8);
    border-radius: 20px;
    width: max-content;
    height: max-content;
}

.views-section:hover,
.likes-section:hover,
.dislikes-section:hover,
.comments-section:hover,
.duration-section:hover {
    background-color: rgb(245, 198, 207);
    cursor: pointer;
}

.stat-icon {
    width: 15px;
    height: 15px;
    padding-right: 8px;
    border-right: 1px solid hotpink;
}

.counter {
    color: rgb(68, 107, 117);
    font-size: 12px;
}

.preference {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    grid-gap: 8px;
}

.pref-icon {
    height: 20px;
    width: 20px;
    padding: 5px;
}

.pref-icon:hover {
    background-color: rgba(241, 149, 195, 0.3);
    cursor: pointer;
}