body {
    background: lightgray;
}

.slide-video-wrapper {
    background: white;
    padding: 5px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px 0px gray;
    height: 270px;
}

.small-thumbnail {
    height: 130px;
    width: 215px;
}

.slide-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom: 1px solid lightgray;
}

.video-slide {
    display: grid;
    grid-template-columns: repeat(4, 230px);
    overflow-x: auto;
    grid-gap: 15px;
    padding: 5px 10px;
    padding-top: 10px;
}

.category {
    display: flex;
    grid-gap: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-family: Ubuntu;
    text-shadow: 1.2px 1.3px lightgrey;
}

.category-icon {
    height: 26px;
}

.category-title {
    font-size: 17px;
    font-family: Ubuntu;
    text-shadow: 1.2px 1.3px lightgrey;
}

#seeall {
    font-size: 14px;
    text-shadow: 1.2px 1.3px lightgrey;
    font-family: Ubuntu;
}

.small-video-box {
    width: min-content;
    padding: 6px;
    box-shadow: 0px 0px 2.5px 1px lightgrey;
}

.small-thumbnail-wrapper {
    margin-bottom: 6px;
}

.video-info {
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    height: 31px;
    line-height: 1.1;
    overflow: hidden;
}

.channel-info {
    font-size: 13px;
    color: gray;
    font-family: Ubuntu;
    margin-top: 5px;
    position: relative;
    top: 2px;
}